@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 6.27%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 0, 0%, 8.63%;
    --popover: 0, 0%, 14.1%;
    --popover-foreground: 210 40% 98%;
    --primary: 0, 0%, 7.84%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 0, 0%, 14.1%;
    --secondary-foreground: 0, 0%, 43.14%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 285.82, 67.07%, 32.16%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0, 0%, 73.73%;
    --border: 217.2 32.6% 17.5%;
    --input: 0, 0%, 10.2%;
    --ring:309, 20.83%, 81.18%;
    --navbar-button: 240, 7.25%, 13.53%;
    --linkedInAccent: 34.52, 87.74%, 41.57%;
  }

  .dark {
    --background: 0, 0%, 6.27%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 0, 0%, 8.63%;
    --popover: 0, 0%, 14.1%;
    --popover-foreground: 210 40% 98%;
    --primary: 0, 0%, 7.84%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 0, 0%, 14.1%;
    --secondary-foreground: 0, 0%, 43.14%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 285.82, 67.07%, 32.16%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0, 0%, 73.73%;
    --border: 217.2 32.6% 17.5%;
    --input: 0, 0%, 10.2%;
    --ring: 309, 20.83%, 81.18%;
      --navbar-button: 240, 7.25%, 13.53%;
    --linkedInAccent: 34.52, 87.74%, 41.57%;
  }
}